*{
	margin:0px;
}
#stack-container{
		background-color: #5184C1;
	}

	#facebook-container{
		background-color:#186FB7
	}

   

	p{
   font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';	}

	

	}	
	h2{
		font-size: 16pt;
		font-family: Arial, Helvetica, sans-serif;
	}	
	#tfheader{
	
		margin: 0 auto;
	}

	#canvas-holder{
				width:30%;
	}
	
	#main-links{
		width: 350px;
		margin: 0 auto;
		padding-top: 100px;
	}

    #header-links{
    position: absolute;
    top: 30px;
    right: 10px;
    }


    #scrape-buttons{
        text-align: center;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        margin-top: 100px;
    }

    #scrape-buttons button{ 
    overflow: visible;
    border: 0;
    padding: 5px;
    cursor: pointer;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }




#link-f:hover { 
background-image: url('../images/hover-facebook.png');
width: 350px;
height: 100px;
}

#link-f{
background-image: url('../images/../images/facebook.png');
width: 350px;
height: 100px;
}

#link-s:hover { 
background-image: url('../images/hover-stack-exchange.png');
width: 350px;
height: 100px;
}

#link-s{
background-image: url('../images/../images/stack-exchange.png');
width: 350px;
height: 100px;
}

#link-y:hover { 
background-image: url('../images/hover-youtube.png');
width: 350px;
height: 100px;
}

#link-y{
background-image: url('../images/../images/youtube.png');
width: 350px;
height: 100px;
}

#link-g:hover { 
background-image: url('../images/hover-google-plus.png');
width: 350px;
height: 100px;
}

#link-g{
background-image: url('../images/../images/google-plus.png');
width: 350px;
height: 100px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}
/* Form wrapper styling */
.form-wrapper {
    width: 650px;
 
    margin: 100px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
 
/* Form text input */
 
.form-wrapper input {
    width: 530px;
    height: 20px;
    padding: 10px 5px;
    float: left;   
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;     
}
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}   
 
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
   
.form-wrapper button:hover{    
    background: #e54040;
}  
   
.form-wrapper button:active,
.form-wrapper button:focus{  
    background: #c42f2f;
    outline: 0;  
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
    border-right-color: #c42f2f;
}     
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}  

   #stack-exchange-form{
    width: 530px;
   margin: 100px auto 50px auto;
}


#stack-exchange-form input{
    width: 100%;
    height: 20px;
    padding: 10px 5px;
    margin: 10px;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;    

}

#stack-exchange-form button{
    overflow: visible;
    border: 0;
    padding: 2px;
    cursor: pointer;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    margin: 0 40%;
    width: 110px;
}


#results{
margin: 50px auto;


}

#canvas-holder{
    margin: 0 auto;

}





